.wrapper{
    max-width: 600px;
    margin: 0 auto;
}
.page-header{
    text-align: center;
    margin: 0 0 40px;
    padding: 40px 0;
    h1{
        margin: 0;
    }
}
.todo-list{
    margin: 0 auto 30px;
    max-width: 600px;
    counter-reset: section;
    list-style-type: none;

    li{
        display: flex;
        justify-content: space-between;
        &:before {
            counter-increment: section;
            content: counters(section,".") ". ";
        }
        &.complete{
            .text{
                text-decoration: line-through;
            }
        }
    }
    .text{
        width: calc(100% - 270px);
    }
    .priority{
        min-width: 70px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #333;
        background: white;
        &.low{background: rgba(0,128,0,0.3);}
        &.medium{background: rgba(255,255,0,0.3);}
        &.high{background: rgba(255,0,0,0.3);}
    }
}

.todo-form{
    display: flex;
    justify-content: space-between;
    .input-group{
        width: calc(100% - 150px);
    }
    select{
        text-align: center;
        min-width: 70px;
        border-radius: 5px;
        border: 1px solid #333;
        background: white;
    }
}