body{
    margin: 0;
    font: 13px/1 Tahoma, Geneva, sans-serif;
    background: #eee;
}

h1, h2, p{
    font-weight: normal;
    margin: 0;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}